body {
    background: linear-gradient(90deg, rgba(255,130,20,1) 20%, rgba(50,20,130,1) 100%);
}
#result {
    font-size: 5rem;
    margin-top: 2rem;
}
#save {
    font-size: 5rem;
}
.box {
    text-align: center;
    border: 3px solid cyan;
    border-radius: 10px;
    background: cyan;
    box-shadow: 10px 10px 10px 5px;
    width: 30rem;
    margin: auto;
    height: 35rem;
    margin-top: 10rem;
}
button {
    margin-left: 0.5rem;
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
    background: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: all 0.5s;
}
button:hover {
    margin-left: 1rem;
    margin-top: 1.5rem;
    width: 13rem;
    height: 5rem;
    background: lightgreen;
    cursor: pointer;
    box-shadow: -5px -5px -5px -5px;
    border-radius: 10px;
    font-size: 2.5rem;
    transition: all 0.5s;
}
.count {
    font-size: 5rem;
}
