* {
    margin: 0;
    padding: 0;
}
body {
    background: #080d30;
    text-align: center;
}
h1 {
    color: white;
    font-size: 3rem;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
table td {
  padding: 0.5rem;
  border: 5px solid #F7DC6F;
}
table tr:first-child td {
  border-top: 0;
}
table tr td:first-child {
  border-left: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.box {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.hitO {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background: #080d30;
    font-size: 8vmin;
    color: #ADD8E6;
    text-shadow: 0 0 10px #03A9F4,
    0 0 20px #03A9F4,
    0 0 30px #007bff;
}
.hitX {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background: #080d30;
    font-size: 8vmin;
    color: #dda0dd;
    text-shadow: 0 0 10px #9370db,
    0 0 20px #9932cc,
    0 0 30px #9400d3;
}
#reset {
    padding: 1rem;
    font-size: 1.25rem;
    color: #fffacd;
    background: #080d30;
    border: none;
    text-shadow: 0 0 10px #eee600,
    0 0 20px #efcc00,
    0 0 30px #ffc40c;
    transition: all 1s;
}
#reset:hover {
    padding: 1rem;
    font-size: 2rem;
    color: #fffacd;
    background: #080d30;
    border: none;
    text-shadow: 0 0 10px #eee600,
    0 0 20px #efcc00,
    0 0 30px #ffc40c;
}
button:hover {
    cursor: pointer;
}
.msg-container-hide {
    display: none;
}
.msg-container-show {
    color: #ffa07a;
    text-shadow: 0 0 10px #ff6347,
    0 0 20px #dc143c,
    0 0 30px #b22222;
    font-size: 8vmin;
    height: 10vmin;

}
#new {
    padding: 1rem;
    font-size: 1.25rem;
    color: #fffacd;
    background: #080d30;
    border: none;
    text-shadow: 0 0 10px #eee600,
    0 0 20px #efcc00,
    0 0 30px #ffc40c;
    transition: all 1s;
}
#new:hover {
    padding: 1rem;
    font-size: 2rem;
    color: #fffacd;
    background: #080d30;
    border: none;
    text-shadow: 0 0 10px #eee600,
    0 0 20px #efcc00,
    0 0 30px #ffc40c;
}

