body {
    background: linear-gradient(90deg, rgba(20, 145, 67, 1) 35%, rgba(67, 20, 145, 1) 60%)
}
.box {
    border: 3px solid white;
    margin: auto;
    margin-top: 10rem;
    width: 31rem;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 10px;
    background: grey;
}
.cal {
}
.head {
    padding-left: 10.5rem;
    font-size: 2rem;
    background: orange;
    border-radius: 10px;
}
.result {
    font-size: 2rem;
    text-align: right;
    margin-top: 1rem;
    border-radius: 10px;
    background: silver;
    height: 3rem;
}
.btn {
    padding-left: 0;
    display: flex;
}
.bn {
    background: #B695C0;
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    transition: all 0.5s;
    border-radius: 10px;
}
.sbn {
    background: lightgreen;
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    transition: all 0.5s;
    border-radius: 10px;
}
.bs {
    padding-left: 1rem;
}
.eq {
    border: 1px solid black;
    background: #ff5050;
    height: 5rem;
    width: 23rem;
    transition: all 0.5s;
    border-radius: 10px;
}
.bn:hover {
    cursor: pointer;
    font-size: 2rem;
    background: lightblue;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px;
}
.sbn:hover {
    cursor: pointer;
    font-size: 2rem;
    background: green;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px;
}
.eq:hover {
    cursor: pointer;
    font-size: 2rem;
    background: #ff1050;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px;
}
