body {
    background: #9899aa;
}

.main {
    margin: auto;
    margin-top: 10rem;
    border: 3px solid black;
    border-radius: 100%;
    width: 30%;
    height: 33rem;
    text-align: center;
    font-size: 3rem;
}
.watch {
    margin: auto;
    margin-top: 10rem;
    border: 3px solid black;
    border-radius: 1rem;
    width: 80%;
    
}
.view {
    display: inline-flex;
}
.btn {
    display: flex;
    margin-top: 6rem;
}

.btn button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    background: green;
    border: 3px solid green;
    border-radius: 5px;
    margin-left: 5rem;
    transition: all 0.5s;
}
.btn button:hover {
    cursor: pointer;
    font-size: 2rem;
    background: lightgreen;
    border: 3px solid lightgreen;
    border-radius: 5px;
    transition: all 0.5s;
}

.reset {
    margin: 0;
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    background: green;
    border: 3px solid green;
    border-radius: 5px;
    transition: all 0.5s;
}
.reset:hover {
    cursor: pointer;
    font-size: 2rem;
    background: lightgreen;
    border: 3px solid lightgreen;
    border-radius: 5px;
    transition: all 0.5s;
}
