body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(90deg, rgba(35, 120, 67, 1) 30%, rgba(67, 120, 37, 1) 70%);
}
.head {
    margin: auto;
    font-size: 3rem;
    color: goldenrod;
}
.box {
    margin: auto;
    border: 3px solid black;
    box-shadow: 10px 10px 10px 3px black;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    width: 80rem;
    text-align: center;
}
.btn button {
    width: 35rem;
    height: 5rem;
    color: #016f32;
    background-color: goldenrod;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid goldenrod;
    transition: all 0.5s;
}
.btn button:hover {
    width: 35rem;
    height: 6rem;
    color: #016f32;
    background-color: goldenrod;
    border-radius: 1rem;
    font-size: 4rem;
    font-weight: bold;
    border: 3px solid goldenrod;
    cursor: pointer;
    box-shadow: 10px 10px 10px 2px black;
    transition: all 0.5s;
}
.elements {
    display: flex;
    margin-left: 22rem;
}
.lb {
    display: flex;
}
.lb li {
    margin-left: 2rem;
}
