.bar {
    visibility: hidden;
}
.bar-show {
    visibility: visible;
}
.bar-show button {
    margin-top: -31px;
}
#bar {
    height: 30px;
}
ul {
    border: 3px solid white;
    border-radius: 50px;
    box-shadow: 5px 4px 8px 6px grey;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 20px;
    font-size: 2rem;
}
ul li {
    padding-left: 20px;
}
.right {
    padding-right: 35rem;
}
button {
    float: right;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: 3px solid black;
    margin-top: -31px;
}
button:hover {
    cursor: pointer;
    margin-top: -31px;
}
.line {
    display: block;
    width: 50px;
    height: 4px;
    margin-top: 5px;
    margin-left: 1rem;
    background-color: black;
}
